<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUOTE Page</title>
    <link rel="stylesheet" href="quote.css">
  </head>
  <body>
    <div class="container">
      <div class="single-product">
          <div class="row">
              <div class="col-6">
                  <div class="product-image">
                      <div class="product-image-main">
                          <img src="static/onion.jpeg" alt="" id="product-main-image">
                      </div>
                      
                  </div>
              </div>
              
                  <div class="product">
                      <div class="product-title">
                          <h2>Farm Fresh Strawberries</h2>
                      </div>
                      
                      <div class="product-price">
                          <span class="offer-price">INR 99.00</span>
                          <span class="sale-price">INR 129.00</span>
                      </div>

                      <div class="product-details">
                          <h3>Description</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos est <br>magnam quibusdam maiores sit perferendis minima cupiditate iusto earum <br>repudiandae maxime vitae nostrum, ea cumque iste ipsa hic commodi tempore.</p>
                          
                      </div>
                      <div class="product-size">
                       
                          <h4>Best Sellers</h4>
                          <div class="size-layout">
                              <input type="radio" name="size" value="S" id="1" class="size-input">
                              <label for="1" class="size">Shaikh Farm</label>
                          </div>

                          
                        <div class="size-layout">
                          <input type="radio" name="size" value="S" id="3" class="size-input">
                          <label for="3" class="size">Savaliya farm</label>
                      </div>
                      <div class="size-layout">
                        <input type="radio" name="size" value="S" id="4" class="size-input">
                        <label for="4" class="size">Raikisani Farm</label>
                    </div>
                    <div class="product-quantity">
                      <label for="Quantity" name="quant">Quantity:</label>
                      <input type="number" id="fname" name="fname"><br>
                    </div>
                    <div class="product-btn-group">
                    <div class="button buy-now"><i class='bx bxs-zap' ></i> Buy Now</div>
                    </div>
                      </div>
                     
                      </div>
                      
          </div>
      </div>
  </div>

  <div class ="vege-gallery">

    <div class="vege-banner-row-1">
        <h2>People also buy</h2>
    </div>
    <div class="vege-row">
        <div class ="vege-card">
            <img src="static/v-spring onion.jpg" alt="Spring onion">
            <h4>Spring-Onion</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Perspiciatis aliquam iusto corrupti velit nihil nemo id, 
                quibusdam eveniet, eligendi deleniti dolores dolore odit, 
                quas labore doloremque! Optio tempora ratione aperiam?
            </p>
            <a href = "vegetable.html" class="btn">Explore</a>
        </div>

        <div class ="vege-card">
            <img src="static/orange.jpeg" alt="Corainder">
            <h4>Orange</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Perspiciatis aliquam iusto corrupti velit nihil nemo id, 
                quibusdam eveniet, eligendi deleniti dolores dolore odit, 
                quas labore doloremque! Optio tempora ratione aperiam?
            </p>
            <a href = "fruit.html" class="btn">Explore</a>
        </div>

        <div class ="vege-card">
            <img src="static/corn2.jpeg" alt="Spinach">
            <h4>Corn</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Perspiciatis aliquam iusto corrupti velit nihil nemo id, 
                quibusdam eveniet, eligendi deleniti dolores dolore odit, 
                quas labore doloremque! Optio tempora ratione aperiam?
            </p>
            <a href = "#" class="btn">Explore</a>
        </div>
      </div>

  </body>
</html>